
.vs/password_storage/v16/.suo
.vs/password_storage/v16/Server/sqlite3/storage.ide
.vs/password_storage/v16/Server/sqlite3/storage.ide-wal
.vs/password_storage/v16/Server/sqlite3/db.lock
.vs/password_storage/v16/Server/sqlite3/storage.ide-shm
.vs/password_storage/v16/Server/sqlite3/storage.ide-shm
